<hr>

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Full name" ng-model="form.fullName">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="email" ng-model="form.email">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="facebook" ng-model="form.facebook">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="whatsapp" ng-model="form.whatsapp">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="phone number" ng-model="form.phoneNumber">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="mobile phone number" ng-model="form.mobilePhoneNumber">
    </div>

    <button class="btn btn-primary" ng-click="addContact(form)">Save</button>
    <a href="/" class="btn btn-default">Voltar</a>
</form>
